\.vs
\.vscode
\bin
\obj

# Android
Resource.Designer.cs

# # Compressed
# *.bak
# *.trn
# *.zip
# *.rar
# *.7z
# *.iso

# # Old
# \packages
# \[B|b]ack[U|u]p
# *.csproj.user
# *.lock.json
# *.nuget.cache
# *.nuget.props
# *.nuget.targets

# # Old
DTAR_*/
*.suo
*.user

# Backup
*.bak
*.trn

# Zip
*.zip
*.rar
*.7z
*.iso

# Asp.Net Core
*.lock.json
*.nuget.props
*.nuget.targets
artifacts/
node_modules/

# Asp.Net
ClientBin/
Generated_Code/

# Test project
TestResults/

# Database project
*.dbmdl
Import Schema Logs/

# Database
*.dsn
*.accdb

# Nuget
packages/
# Enable "build/" folder in the NuGet Packages folder since NuGet packages use it for MSBuild targets
# !packages/*/build/

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Old VS Installer
# [Dd]ebug/
# [Rr]elease/

# TFS
*.vspscc
*.vssscc
*.scc

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
